@import url("reset.css");
@import url("common.css");

/*インデックスページ以外の共通*/
.copyright{
text-align: center;
color: white;
background-color:#1E0000;
padding:2%;
}
/*ここまで*/

.bg{
background-image:url("images-2/menu-bg.jpg");
background-position: top center;
background-repeat: no-repeat;
background-blend-mode: hard-light;
background-size: cover;
height:100vh;
}

.bg-mask{
background: rgba(255,255,255,0.3);
height:100vh;
position: relative;
}

#flex1{
position: absolute;
top: 30vh;
right: 0;
left: 0;
bottom:0;
}

h2,#discription{
font-weight:120%;
padding: 0 35%;
}

h2{
font-size:400%;
margin-bottom:3%;
text-align: center;
}

#discription{
font-size: 125%;
word-wrap: break-word;
word-break: break-all;
}

#discription , .item-p{
color: #1E0000;
}

main{
padding: 5% 15%;
}

.container{
display: grid;
gap: 1%;
grid-template-columns:1fr 1fr 1fr ;
grid-template-rows: auto ;
}

#big-item{
grid-column: 1/3 ;
grid-row: 1/3;
}

#item-img1{
width:100%;
}

.item-img{
width: 100%;  
}

.item-p{
font-size:100%; 
}

@media screen and (max-width: 896px){

h2,#discription{
padding: 0 3%;
}

#discription{
font-size: 155%;
}

main{
padding:9% 3%;
}

p{
font-size: 150%;
}

.container{
display: block;
}

#big-item, .item{
margin-bottom: 5%;
}

.copyright{
padding:8% 2% 2% 0%;
font-size: 100%;
}

}